.blackout {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $blackout;
  opacity: 0.96;
  z-index: 20;

  &--none {
    display: none;
  }
}
