.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.container-catalog {
  max-width: 100%;
  background-image: linear-gradient(360deg, rgba(19, 18, 18, 0) 0%, #131212 100%);
  z-index: 55;
}

.container-catalog .page-header {
  padding: 0;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 767px;
  }
}
