.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 767px;
  }
}
