.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 266px;
}

.contacts__phone {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.contacts__phone:hover {
  color: $orange-hover;
  border-bottom: 1px dashed $orange-hover;
}

.contacts__phone:active,
.contacts__town-link:active {
  opacity: 0.7;
}

.contacts__town-link {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: $orange;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  border: none;
  background-color: transparent;
  padding: 0;
}

.contacts__town-link div {
  margin-left: 8px;
}

.contacts__town-link:hover div {
  padding-top: 1px;
  border-bottom: 1px dashed $orange;
}


@media (max-width: 700px) {
  .contacts {
    flex-direction: column;
    padding: 30px 0 40px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    order: 0;
  }

  .contacts__town-link {
    margin-bottom: 20px;
  }
}
