.date-setting__quest-title {
  font-weight: 900;
  font-size: 92px;
  line-height: 92px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 88px;
  letter-spacing: -0.03em;
}

.date-setting__setting {
  color: $orange;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  order: -1;
  margin-bottom: 6px;
  padding-left: 6px;
}

.date-setting__date-booking,
.date-setting__payment {
  color: $white;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 2px solid $orange;
}

.date-setting__date-booking span,
.date-setting__payment span {
  display: block;
  border: 4px solid transparent;
  border-left: 4px solid $white;
  margin-left: 6px;
}

.date-setting__date-booking {
  width: 123px;
  margin-right: 24px;
  z-index: 1;
}

.date-setting__payment {
  width: 143px;
  margin-left: 0;
  margin-bottom: 17px;
}

.date-setting__details {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  width: 162px;
  margin-right: 99px;
  margin-bottom: 12px;
}

.date-setting__date-booking:hover,
.date-setting__payment:hover {
  color: $orange-hover;
  border-bottom-color: $orange-hover;
}

.date-setting__date-booking:hover span,
.date-setting__payment:hover span {
  border-left-color: $orange-hover;
}

.date-setting__date-booking:active,
.date-setting__payment:active {
  opacity: 0.7;
}

.date-setting__wrapper {
  max-width: 1113px;
  width: auto;
  margin: 0 auto;
  display: flex;
  padding: 138px 10px 191px;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 100vh;
}

.date-setting__title-container {
  display: flex;
  flex-direction: column;
}

.date-setting__time-choise {
  border-top: 1px solid rgba(230, 230, 230, 0.65);
  padding: 25px 45px 0;
  margin-top: 16px;
  width: auto;
  max-width: 1080px;
}

.date-setting {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  &--maniac-quest {
    background-image: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #1a140d 89.63%, #1a140d 106.79%), url("../img/backgrounds/bg-maniac-quest-booking@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #1a140d 89.63%, #1a140d 106.79%), url("../img/backgrounds/bg-maniac-quest-booking@2x.jpg");
    }
  }
}

.date-setting__booked {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}

.date-setting__date-container {
  display: flex;
  margin-bottom: 24px;
}

.date-setting__quest-style {
  display: none;
}

@media (max-width: 767px) {
  .date-setting__setting {
    display: none;
  }

  .date-setting__quest-style {
    display: inline-block;
    color: $orange;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    order: -1;
    margin-bottom: 9px;
  }

  .date-setting__quest-title {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: normal;
  }

  .date-setting__wrapper {
    width: 100%;
    padding: 138px 16px 26.9%;
    height: 100%;
  }

  .date-setting__date-booking {
    margin-right: 18px;
  }

  .date-setting {
    background-image: url("../img/backgrounds/bg-quest-booking-filter@1x.png"), url("../img/backgrounds/bg-maniac-quest-booking-mobile@1x.png");
    background-repeat: repeat-y, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-quest-booking-filter@2x.png"), url("../img/backgrounds/bg-maniac-quest-booking-mobile@2x.png");
    }
  }

  .date-setting__title-container {
    order: -1;
  }

  .date-setting__time-choise {
    order: 0;
    padding: 0;
    padding-top: 25px;
    margin-bottom: 13px;
  }

  .date-setting__details {
    order: 1;
    min-width: 261px;
    margin-bottom: 26px;
    margin-right: 332px;
  }

  .time-setting__description-list {
    flex-wrap: wrap;
  }

  .date-setting__payment {
    order: 2;
    text-align: left;
    margin-top: 0;
  }

  .date-setting__date-container {
    margin-bottom: 22px;
  }

  .date-setting__details br {
    display: none;
  }
}
