.form__item {
  border: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &--email,
  &--name {
    position: relative;
  }
}

.form__item:last-of-type {
  margin-bottom: 34px;
}

.form__label,
.form__textarea-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $gray;
  margin-bottom: 12px;
}

.form__textarea-title {
  margin-top: 0;
  margin-bottom: 14px;
}

.forn__textarea-title {
  margin-top: 0;
}

.form__input {
  width: 400px;
  background-color: transparent;
  padding: 16px 94px 16px 24px;
  color: $gray;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.form__input::placeholder {
  color: rgba(230, 230, 230, 0.64);
}

.form__item textarea {
  width: 400px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(230, 230, 230, 0.64);
  padding: 16px 24px 0 24px;
  overflow: auto;
  resize: none;
}

.form__confirmation-text,
.form__agreement {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}

.form__agreement {
  text-decoration: underline;
}

.form__agreement:hover {
  color: $dark-gray;
}

.form__agreement:active {
  opacity: 0.7;
}

.form__confirmation-text {
  margin-left: 24px;
}

.form__send {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  width: 219px;
  padding: 15px;
  background-color: $orange;
  border-radius: 47px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  border: none;
  cursor: pointer;
}

.form__send:hover {
  background-color: $orange-hover;
}

.form__send:disabled {
  background-color: #b8b8b8;
}

.form__confirmation {
  display: flex;
  align-items: top;
}

.form__checkbox-label {
  position: relative;
  cursor: pointer;
}

.form__checkbox-label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: $orange;
  opacity: 0.64;
  border-radius: 4px;
  top: 2px;
  left: 0;
}

.form__checkbox-label:hover::before {
  opacity: 1;
}

.form__checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("../img/icons/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 6px;
  left: 4px;
}

.form__checkbox:checked + label::before {
  background-color: $orange;
  opacity: 1;
}

.form__mail-error {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: $orange-hover;
  opacity: 0.64;
  position: absolute;
  bottom: -19px;
  left: 24px;
}

.form__error {
  border-color: rgba(243, 148, 37, 0.64);
}

.form__item .form__input:required:valid {
  border-color: rgba(34, 139, 34, 0.64);
}

.form__vaild {
  border-color: rgba(34, 139, 34, 0.64);
}

.form__input-name-title,
.form__input-email-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: rgba(230, 230, 230, 0.64);
  position: absolute;
  display: none;
  top: 27px;
  left: 24px;
  padding: 0 3px;
  background-image: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.form__input-name-title--visible,
.form__input-email-title--visible {
  display: inline-block;
}

@media (max-width: 767px) {
  .form__input {
    width: 100%;
  }

  .form__item textarea {
    width: 100%;
    min-height: 120px;
  }
}
