.menu {
  @include reset-list;
  width: 531px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: $light-gray;
}

.menu__link[href]:hover {
  color: $orange-hover;
  border-bottom: 1px dashed $orange-hover;
}

.menu__link[href]:active {
  opacity: 0.7;
}

.menu__item {
  &--current .menu__link {
    color: $orange;
  }
}


@media (max-width: $mobile-width) {
  .menu {
    flex-direction: column;
    width: $mobile-width;
    margin-bottom: 80px;
  }

  .menu__item {
    text-align: center;
    margin-top: 40px;
  }

  .menu__link {
    font-size: 16px;
    line-height: 19px;
  }
}
