.menu {
  @include reset-list;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
}

.menu__link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: $light-gray;
  letter-spacing: 0.03em;
}

.menu__link[href]:hover {
  color: $orange-hover;
  border-bottom: 1px dashed $orange-hover;
}

.menu__link[href]:active {
  opacity: 0.7;
}

.menu__item {
  &--current .menu__link {
    color: $orange;
  }
}

.menu__item:not(:last-child) {
  margin-right: 9.1%;
}

@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    margin-bottom: 73px;
    width: auto;
  }

  .menu__item {
    text-align: center;
    margin-top: 35px;
  }

  .menu__link {
    font-size: 16px;
    line-height: 19px;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}
