.menu {
  @include reset-list;
  width: 531px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__link {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}


@media (max-width: $mobile-width) {
  .menu {
    flex-direction: column;
    width: $mobile-width;
  }

  .menu__item {
    text-align: center;
    margin-top: 40px;
  }
}
