.page-footer__question {
  font-size: 12px;
  line-height: 17px;
  color: $gray;
  font-weight: 500;
  border-bottom: 1px dashed $gray;
  border: none;
  background-color: transparent;
}

.page-footer__question:hover {
  color: $orange;
  border-color: $orange;
}

.page-footer__question span {
  display: none;
}

.page-footer__question:hover span {
  display: inline;
}

.page-footer {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 52px;

  &--catalog {
    position: fixed;
    background-image: linear-gradient(180deg, rgba(19, 18, 18, 0) 0%, #131212 100%);
  }
}

@media (max-width: 700px) {
  .page-footer {
    display: none;
  }
}
