.promotion__block {
  max-width: 1366px;
  margin: 0 auto;
  height: 100%;
}

.promotion__title {
  margin: 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: 800;
  margin-bottom: 31px;
}

.promotion__text {
  font-weight: 500;
  color: $gray;
  margin-top: 0;
  margin-bottom: 69px;
  max-width: 476px;
}

.promotion {
  background-image: url("../img/backgrounds/bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("..//img/backgrounds/bg-desktop@2x.jpg");
  }
}

.promotion__container {
  max-width: 600px;
  z-index: 10;
  padding-top: 190px;
  padding-bottom: 176px;
  margin-left: 136px;
}

.promotion__link {
  cursor: pointer;
  color: $white;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  padding: 22px 25px 23px;
  background-color: $orange;
  text-align: center;
  border-radius: 48px;
  letter-spacing: 0.03em;
}

.promotion__link:hover {
  background-color: $orange-hover;
}

@media (max-width: 767px) {
  .promotion__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .promotion__link {
    font-size: 14px;
    line-height: 16px;
    width: 185px;
    padding: 15px;
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-mobile-filter@1x.png"), url("..//img/backgrounds/bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-mobile-filter@2x.png"), url("..//img/backgrounds/bg-mobile@2x.jpg");
      background-size: 100% auto;
    }
  }

  .promotion__text {
    display: none;
  }

  .promotion__container {
    padding: 115.8% 16px 17.78%;
    text-align: center;
    margin-left: 0;
  }
}
