.quest-page__title {
  margin: 0;
  font-weight: 900;
  font-size: 92px;
  line-height: 87px;
  margin-bottom: 28px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.quest-page__style {
  color: $orange;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  order: -1;
  margin-bottom: 10px;
}

.quest-page__properties {
  color: $gray;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  margin-bottom: 20px;
  padding-left: 33px;
}

.quest-page__text {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $gray;
  margin-bottom: 43px;
  padding: 0 128px 0 32px;
}

.quest-page__book {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  width: 250px;
  border-radius: 65px;
  background-color: $orange;
  color: $white;
  text-align: center;
  padding: 22px 0;
  font-weight: 800;
  line-height: 20px;
  margin-left: 35px;
  letter-spacing: 0.03em;
}

.quest-page__book:hover {
  background-color: $orange-hover;
}

.quest-page__length,
.quest-page__guests-ammount,
.quest-page__level {
  display: flex;
  align-items: center;
}

.quest-page__length {
  padding: 8px 29px 8px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.36);
}

.quest-page__length span {
  padding-left: 6px;
}

.quest-page__guests-ammount {
  padding: 8px 28px 8px 26px;
  border-right: 1px solid rgba(255, 255, 255, 0.36);
}

.quest-page__guests-ammount span {
  padding-left: 6px;
}

.quest-page__level {
  padding: 8px 0 8px 26px;
}

.quest-page__level span {
  padding-left: 9px;
}

.quest-page__container {
  min-width: 500px;
  max-width: 688px;
  padding: 150px 0 180px;
  margin-right: 78px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quest-page__back-link {
  display: none;
}

.quest-page__level br {
  display: none;
}

.quest-page__wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.quest-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &--maniac {
    background-image: url("../img/backgrounds/bg-maniac-quest@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-maniac-quest@2x.jpg");
    }
  }

  &--old-house {
    background-image: url("../img/backgrounds/bg-old-house-quest@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-old-house-quest@2x.jpg");
    }

    .quest-page__container {
      padding: 10.17% 0 77px;
    }

    .quest-page__container .quest-page__style {
      margin-bottom: 23px;
    }
  }

  &--riual {
    background-image: url("../img/backgrounds/bg-ritual-quest@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-ritual-quest@2x.jpg");
    }

    .quest-page__container {
      padding: 11.56% 0 187px;
    }

    .quest-page__style {
      margin-bottom: 23px;
    }

    .quest-page__title {
      margin-bottom: 17px;
    }
  }

  &--experiment {
    background-image: url("../img/backgrounds/bg-experiment-quest@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-experiment-quest@2x.jpg");
    }

    .quest-page__container {
      padding: 10.17% 0 122px;
    }

    .quest-page__style {
      margin-bottom: 23px;
    }

    .quest-page__properties {
      padding-left: 40px;
      margin-bottom: 17px;
    }

    .quest-page__title {
      margin-bottom: 18px;
    }

    .quest-page__text {
      padding-left: 43px;
    }
  }
}

@media (max-width: 767px) {
  .quest-page__title {
    font-size: 42px;
    line-height: 46px;
    padding: 0 16px;
    margin-bottom: 20px;
    letter-spacing: normal;
  }

  .quest-page__style {
    padding: 0 16px;
  }

  .quest-page__length,
  .quest-page__guests-ammount,
  .quest-page__level {
    flex-direction: column;
    padding: 0;
    text-align: center;
    border: none;
  }

  .quest-page__guests-ammount span {
    padding-left: 0;
    padding-top: 8px;
  }

  .quest-page__length span {
    padding-left: 0;
    padding-top: 7px;
  }

  .quest-page__level span {
    padding-left: 0;
    padding-top: 4px;
  }

  .quest-page__level br {
    display: inline;
  }

  .quest-page__guests-ammount {
    border-left: 1px solid rgba(255, 255, 255, 0.36);
    border-right: 1px solid rgba(255, 255, 255, 0.36);
    width: 33%;
  }

  .quest-page__level {
    width: 33%;
  }

  .quest-page__length {
    width: 33%;
  }

  .quest-page__container {
    width: auto;
    max-width: 747px;
    background-image: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
    margin: 0;
    min-width: 328px;
  }

  .quest-page__text {
    padding: 0 16px;
    margin-bottom: 30px;
  }

  .quest-page__text br {
    display: none;
  }

  .quest-page__book {
    margin-left: 16px;
  }

  .quest-page__properties {
    padding-left: 0;
    margin-bottom: 11px;
  }

  .quest-page {
    background-size: 100% auto;

    &--maniac {
      background-image: url("../img/backgrounds/bg-filter-quest-mobile@1x.png"), url("../img/backgrounds/bg-maniac-quest-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/backgrounds/bg-filter-quest-mobile@2x.png"), url("../img/backgrounds/bg-maniac-quest-mobile@2x.jpg");
      }

      .quest-page__container {
        padding: 111% 0 16%;
      }
    }

    &--old-house {
      background-image: url("../img/backgrounds/bg-filter-quest-mobile@1x.png"), url("../img/backgrounds/bg-old-house-quest-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/backgrounds/bg-filter-quest-mobile@2x.png"), url("../img/backgrounds/bg-old-house-quest-mobile@2x.jpg");
      }

      .quest-page__container {
        padding: 130% 0 14.7%;
      }
    }

    &--riual {
      background-image: url("../img/backgrounds/bg-filter-quest-mobile@1x.png"), url("../img/backgrounds/bg-ritual-quest-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/backgrounds/bg-filter-quest-mobile@2x.png"), url("../img/backgrounds/bg-ritual-quest-mobile@2x.jpg");
      }

      .quest-page__container {
        padding: 177% 0 14.7%;
      }

      .quest-page__style {
        margin-bottom: 8px;
      }

      .quest-page__title {
        margin-bottom: 18px;
      }
    }

    &--experiment {
      background-image: url("../img/backgrounds/bg-filter-quest-mobile@1x.png"), url("../img/backgrounds/bg-experiment-quest-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/backgrounds/bg-filter-quest-mobile@2x.png"), url("../img/backgrounds/bg-experiment-quest-mobile@2x.jpg");
      }

      .quest-page__container {
        padding: 102.5% 0 14.7%;
      }

      .quest-page__style {
        margin-bottom: 11px;
      }

      .quest-page__properties {
        padding-left: 0;
        margin-bottom: 17px;
      }

      .quest-page__title {
        margin-bottom: 18px;
      }

      .quest-page__text {
        padding-left: 16px;
      }
    }
  }
}
