.quests__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $orange;
  margin-top: 0;
  margin-bottom: 5px;
}

.quests__text {
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 48px;
}

.quests__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
}

.quests__categories-list {
  @include reset-list;
  margin-bottom: 39px;
  display: flex;
  //flex-wrap: wrap;
  overflow: hidden;
  overflow-x: scroll;
}

.quests__categories-item {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.quests__categories-item:not(:first-child) {
  padding-left: 40px;
}

.quests__categories-item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.22);
  padding-right: 31px;
}

.quests__categories-item:nth-child(3) {
  padding-right: 35px;
}

.quests__categories-item:nth-child(4) {
  padding-right: 40px;
}

.quests__categories-item:nth-child(5) {
  padding-right: 35px;
}

.quests__label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 12px;
}

.quests {
  width: auto;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 122px;
}

.quests__input:checked + label {
  padding-top: 2px;
  border-bottom: 2px solid $orange;
}

.quests__label:hover {
  color: $orange-hover;
}

.quests__label:active {
  opacity: 0.7;
}


@media (max-width: 767px) {
  .quests {
    padding: 87px 16px 0;
    max-width: 767px;
    margin: 0 auto;
  }

  .quests__title {
    margin-bottom: 11px;
  }

  .quests__text {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .quests__categories-item {
    padding: 1px 0;
    flex-shrink: 0;
  }

  .quests__categories-item:not(:first-child) {
    padding-left: 16px;
  }

  .quests__categories-item:not(:last-child) {
    padding-right: 10px;
  }

  .quests__categories-item:first-child {
    padding-right: 11px;
  }

  .quests__categories-item:first-child svg {
    width: 21px;
    height: 24px;
  }

  .quests__categories-item:nth-child(2) svg {
    width: 29px;
  }

  .quests__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
