.social {
  @include reset-list;
  display: flex;
}

.social__link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
}

.social__item {
  &--vk:hover .social__link {
    background-color: $blue;
    color: $white;
  }

  &--instagram:hover .social__link {
    color: $white;
    background-image: url("../img/backgrounds/bg-instagram.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  margin-right: 7px;
}

@media (max-width: $mobile-width) {
  .social__link {
    width: 36px;
    height: 36px;
  }
}
