.town {
  padding: 32px 32px 53px;

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }
}

.town__title {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
}

.town__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.town__link {
  line-height: 27px;
  color: $gray;
  display: flex;
  align-items: center;
  margin-bottom: 38px;

  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.town__link:hover {
  color: $orange-hover;
  cursor: default;
}

.town__link:hover span {
  border-color: $orange-hover;
}

.town__link:active {
  opacity: 0.7;
}

.town__link svg {
  color: $orange;
}

.town__link span {
  margin-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.town__list-title {
  font-size: 17px;
  line-height: 27px;
  color: $gray;
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 500;
}

.town__list {
  @include reset-list;
}

.town__item-link {
  color: white;
  opacity: 0.32;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;

  &--current {
    opacity: 1;

    text-decoration: underline;
    text-decoration-color: $orange;
  }
}

.town__item {
  &--current .town__item-link {
    opacity: 1;

    text-decoration: underline;
    text-decoration-color: $orange;
    cursor: default;
  }
}

.town__item:not(:last-child) {
  margin-bottom: 20px;
}

.town__item-link:hover {
  opacity: 1;
}

.town__toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 5px;
  outline: none;
}


.town__close-toggle {
  display: block;
  position: relative;
}

.town__close-toggle::before,
.town__close-toggle::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 2px;
  background-color: $white;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.town__close-toggle::before {
  transform: rotate(45deg);
}

.town__close-toggle::after {
  transform: rotate(-45deg);
}

.town__toggle:hover .town__close-toggle::before,
.town__toggle:hover .town__close-toggle::after {
  background-color: $orange-hover;
  opacity: 1;
}

.town__toggle:active .town__close-toggle::before,
.town__toggle:active .town__close-toggle::after {
  background-color: $orange-hover;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .town {
    //padding: 32px 16px 208px;
    padding: 8.88% 4.44% 57.78%;
  }
}
