$mobile-width: 360px;
$desktop-width: 1366px;
$orange: #f2890f;
$orange-hover: #f39425;
$black: #1c1c1c;
$white: #ffffff;
$gray: #e6e6e6;
$dark-gray: #c6c4c2;
$blue: #4f779f;
$light-gray: #f0f0f0;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
